@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: hsl(223, 87%, 63%);
    --paleBlue: hsl(223, 100%, 88%);
    --lightRed: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --veryDarkBlue: hsl(209, 33%, 12%);
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    /*  border: 2px solid red; */
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    /*     align-items: center; */
    justify-content: center;
    padding: .8em;
}

header,
main,
footer {
    text-align: center;
}

h1 {
    font-size: 1.7em;
    padding: 1.5em 0 .7em 0;
}

h1 span {
    color: var(--gray);
    font-weight: 300;
}

h3 {
    font-weight: 300;
    font-size: 1em;
    padding: 0 0 2em 0;
}


/* Form */

form {
    max-width: 430px;
    margin: 0 auto;
    padding: 0 1em;
}

.form_input {
    position: relative;
}

.form_input input[type="email"],
.form_input input[type="submit"] {
    /*    all: unset; */
    /*  text-align: start; */
    width: 100%;
    padding: 1em;
    outline: none;
    border-style: none;
    font-size: 20px;
    border: 1px solid var(--paleBlue);
    border-radius: 40px;
    margin: .5em 0;
}

input[type="submit"] {
    background-color: var(--blue);
    box-shadow: 0 10px 15px #dcd7d7;
    color: #fff;
    font-weight: 300;
    /*    height: 1em; */
}

input[type="submit"]:hover {
    box-shadow: 0 10px 15px #999797;
    color: #fff;
}

input[type="submit"]:active {
    transform: scale(.98);
}

::placeholder {
    color: var(--gray);
    opacity: .5;
}

.form small {
    position: absolute;
    display: none;
    left: 7.5%;
    bottom: 46%;
    font-style: italic;
    color: var(--lightRed);
    font-size: 0.7rem;
    width: 150px;
}

.form.error small {
    display: block;
}

.form.error input[type="email"] {
    border: var(--lightRed) 1px solid;
}


/* Main image bg */

.image {
    background: url(../images/illustration-dashboard.png) center no-repeat;
    background-size: contain;
    height: 60vw;
    max-height: 500px;
    margin: 4em .8em;
}


/* Footer */

.fab {
    color: var(--blue);
    border: 1px solid var(--paleBlue);
    border-radius: 50%;
    padding: .5em;
    height: 40px;
    width: 40px;
    outline: none;
    margin: .5em;
}

.copyright {
    padding: 2em 0;
    color: var(--gray);
}


/* MEDIA */

@media (min-width: 769px) {
    form {
        max-width: 100%;
    }
    .form_input input[type="email"] {
        width: 60%;
        max-width: 400px;
    }
    .form_input input[type="submit"] {
        width: 30%;
        max-width: 250px;
    }
    .form small {
        position: absolute;
        /* display: block; */
        left: 43.5%;
        bottom: -12%;
        font-style: italic;
        color: var(--lightRed);
        font-size: 0.7rem;
    }
}