@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    min-height: 100vh;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.top {
    padding: 1.5em;
    box-shadow: 0 -1px 7px #ece6e6;
    border-radius: 8px 8px 0 0;
    animation-duration: .7s;
    animation-name: slidein2;
}

h2 {
    margin-top: 0;
}

.top h2 {
    color: hsl(179, 62%, 43%);
}

.top h3 {
    color: hsl(71, 73%, 54%);
}

.top p {
    color: hsl(218, 22%, 67%);
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    color: #fff;
    box-shadow: 0 1px 7px #ece6e6;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    animation-duration: .7s;
    animation-name: slidein1;
}

button {
    all: unset;
    width: 100%;
    max-width: 300px;
    background-color: hsl(71, 73%, 54%);
    min-height: 40px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 1px 7px #ece6e6;
}

button:hover {
    box-shadow: 0 1px 9px #eceaea;
}

.child {
    padding: 1.5em;
    flex-basis: 50%;
}

.child:nth-child(1) {
    background-color: hsl(179, 62%, 43%);
}

.child:nth-child(2) {
    background-color: #4ABEBD;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    opacity: .7;
}

span {
    font-size: 24px;
}

span.span_light {
    font-size: 16px;
    opacity: .7;
}


/* Animations */

@keyframes slidein1 {
    0% {
        margin-left: -100%;
        width: 300%;
    }
    100% {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slidein2 {
    0% {
        margin-left: 100%;
        width: 300%;
    }
    100% {
        margin-left: 0%;
        width: 100%;
    }
}

@media screen and (min-width: 601px) {
    .container {
        max-width: 630px;
    }
    .top {
        max-width: 100%;
    }
    .bottom {
        flex-direction: row;
        max-width: 100%;
    }
}